{{#if canEnterWords}}
  <section class='word-panel'>
{{else}}
  <section class='inactive-word-panel'>
{{/if}}
  <section class='word-input'>
    <form class='word-input-form'>
      {{#if canEnterWords}}
        <input class='word-input-input' type='text' value={{currentWord}}> </input>
      {{else}}
        <input class='word-input-input' type='text' disabled> </input>
      {{/if}}
    </form>
    <section class='word-input-points'>
      {{#if isChecking}}
        ...checking...
      {{/if}}
      {{#if isntReal}}
        Not a word
      {{/if}}
      {{#if isntOnBoard}}
        Not on board
      {{/if}}
      {{#if isntUnique}}
        Word has already been used
      {{/if}}
      {{#if currentPoints}}
        {{currentPoints}} pts
      {{/if}}
    </section>
  </section>
  <section class='word-list'>
    {{#each words}}
      <section class='word-item'>
        <section class='word-literal'>
          {{this.literal}}
        </section>
        <section class='word-points'>
          {{this.value}} pts
        </section>
      </section>
    {{/each}}
  </section>
</section>
