{{#if canEnterWords}}
  <section class='word-panel'>
{{else}}
  <section class='inactive-word-panel'>
{{/if}}
  <section class='word-input'>
    <form class='word-input-form'>
      {{#if canEnterWords}}
        <input class='word-input-input' type='text' placeholder='Enter words' value={{currentWord}} > 
        </input>
      {{else}}
        <input class='word-input-input' type='text' disabled> </input>
      {{/if}}
    </form>
    <section class='word-input-points'>
      {{#if isChecking}}
        ...checking...
      {{/if}}
      {{#if isntReal}}
        Not a word
      {{/if}}
      {{#if isntOnBoard}}
        Not on board
      {{/if}}
      {{#if isntUnique}}
        Word has already been used
      {{/if}}
      {{#if currentPoints}}
        {{currentPoints}} pts
      {{/if}}
    </section>
  </section>
  <ul class='word-list'>
    {{#each words}}
      <li class='word-item'>
        <div class='word-literal'>
          {{this.literal}}
        </div>
        <div class='word-points'>
          {{this.points}} pts
        </div>
      </li>
    {{/each}}
  </ul>
</section>
